body {
    background: var(--white);
    font-family: var(--font-family);
    font-weight: var(--regular);
}

h1,
h2 {
    font-weight: var(--bold);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
