.student {
    margin: 15px auto;
    background-color: var(--main-color);
}

.student-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8% 5%;
    color: #fff;
}
.student-content h2 {
    color: #fff;
    margin-bottom: 15px;
}

.student-content p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .student-content h2 {
        color: #fff;
        margin-bottom: 24px;
        font-size: 24px;
    }
    .student-content p {
        font-size: 18px;
    }
}
